/*
AudioJS Default Styles (http://videojs.com)
Version 2.0.2


/* DEFAULT SKIN (override in another file)
================================================================================
Using all CSS to draw the controls. Images could be used if desired.
Instead of editing this file, I recommend creating your own skin CSS file to be included after this file,
so you can upgrade to newer versions easier. */
.basic-skin.audio-js {
    background: none;}
/* Controls Layout
  Using absolute positioning to position controls */
.basic-skin .ajs-control-bar {
  position: relative; margin: 0; opacity: 0.85; color: #666;
  
  left: 0; /* 100% width of audio-js-box */
 /* width: 100%;*/
  bottom: 0px; /* Distance from the bottom of the box/audio. Keep 0. Use height to add more bottom margin. */
  height: 20px; /* Including any margin you want above or below control items */
  padding: 0; /* Controls are absolutely position, so no padding necessary */
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
@font-face {
  font-family: 'audioJS';
  src: url('../font/vjs.eot');
  src: url('../font/vjs.eot?#iefix') format('embedded-opentype'), url('../font/vjs.woff') format('woff'), url('../font/vjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Base UI Component Classes
--------------------------------------------------------------------------------
*/
/* Slider - used for Volume bar and Seek bar */
.basic-skin .ajs-slider {
  /* Replace browser focus hightlight with handle highlight */
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  /* background-color-with-alpha */
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.9);
}
.basic-skin .ajs-slider:focus {
  /* box-shadow */
  -webkit-box-shadow: 0 0 2em #ffffff;
  -moz-box-shadow: 0 0 2em #ffffff;
  box-shadow: 0 0 2em #ffffff;
}
.basic-skin .ajs-slider-handle {
  position: absolute;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.basic-skin .ajs-slider-handle:before {
  content: "\e009";
  font-family: audioJS;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-shadow: 0em 0em 1em #fff;
  position: absolute;
  top: 0;
  left: 0;
  /* Rotate the square icon to make a diamond */
  /* transform */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
  
.basic-skin .ajs-control-bar .ajs-control{
  position: absolute; /* Use top, bottom, left, and right to specifically position the control. */
  text-align: center; margin: 0; padding: 0;
  height: 20px; opacity: 0.95; color: #666;
  top: 0;
  background: none;
}

.basic-skin .ajs-control-bar {
 background-color: #f5f5f5;
  background: #f5f5f5 -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ccc)) left top;
  background: #f5f5f5 -moz-linear-gradient(top,  #f5f5f5,  #ccc) left top;
  /* CSS Curved Corners */
  -webkit-border-radius: 5px; border-radius: 5px;
}

/* Placement of Control Items */
.basic-skin .ajs-control-bar .ajs-play-control       { width: 26px; left: 0px; }
.basic-skin .ajs-control-bar .ajs-progress-control   { left: 26px; right: 156px; }
.basic-skin .ajs-control-bar .ajs-time-controls       { width: 30px;   }
.basic-skin .ajs-control-bar .ajs-volume-control     { width: 60px; right: 0px; }
.basic-skin .ajs-control-bar .ajs-mute-control     { width: 26px; right: 60px; }
.basic-skin .ajs-control-bar .ajs-current-time,.basic-skin .ajs-control-bar .ajs-remaining-time{ right: 126px;}
.basic-skin .ajs-control-bar .ajs-time-divider{ width: 10px;right: 116px;}
.basic-skin .ajs-control-bar .ajs-duration{ right: 86px;}

/* Hide control text visually, but have it available for screenreaders */
.basic-skin .ajs-control-text {
  /* hide-visually */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* FontAwsome button icons */
.basic-skin .ajs-control:before {
  font-family: audioJS;
  font-size: 1.5em;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

}

/* Play/Pause
-------------------------------------------------------------------------------- */
.basic-skin .ajs-play-control { cursor: pointer !important; }
/* Play Icon */
.basic-skin .ajs-play-control span { display: block; font-size: 0; line-height: 0; }
.basic-skin .ajs-paused .ajs-play-control span {
  width: 0; height: 0; margin: 8px 0 0 8px;
  
}
.basic-skin .ajs-playing .ajs-play-control span {
  width: 3px; height: 10px; margin: 8px auto 0;
  
}
.basic-skin .ajs-play-control:before {
  content: "\e001";
}
.basic-skin.ajs-playing .ajs-play-control:before {
  content: "\e002";
}
/* Progress
-------------------------------------------------------------------------------- */
.basic-skin .ajs-progress-holder { /* Box containing play and load progresses */
  position: relative; padding: 0;
  height: 20px; border: none;
  background: none;
  margin: 5px;
}
.basic-skin .ajs-play-progress{
position: absolute; display: block; width: 0;  margin: 0; padding: 0; 
height: 10px;  -webkit-border-radius: 5px; border-radius: 5px; 
  background: #777;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#777));
  background: -moz-linear-gradient(top,  #999,  #777);
}
.basic-skin .ajs-play-progress:hover {
  background: #000;
}

.basic-skin .ajs-load-progress {
position: absolute; display: block; width: 0;  padding: 0; 
background: #555; 
height:5px;
-webkit-border-radius: 5px; border-radius: 5px;
margin-top: 3px;}

.basic-skin .ajs-seek-handle {
  display:none;
}
/* Time Display
-------------------------------------------------------------------------------- */

.basic-skin .ajs-time-controls {
    font-size: 10px;
    line-height: 20px;
    font-weight: normal;
    font-family: Helvetica,Arial,sans-serif;
text-align: center
}
/* Remaining time is in the HTML, but not included in default design */
.basic-skin .ajs-remaining-time {
  display: none;
 
}
.basic-skin .ajs-time-divider {
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    font-weight: normal;
    font-family: Helvetica,Arial,sans-serif;
    position: absolute;
text-align: center;
margin: 0px;
padding: 0px;
height: 20px;

}
/* Volume
-------------------------------------------------------------------------------- */
/*.basic-skin .ajs-volume-control:hover { background-color: #000; }*/

.basic-skin .ajs-volume-control  {
}
.basic-skin .ajs-mute-control {
  cursor: pointer;
  float: right;
}
.basic-skin .ajs-mute-control:before {
  content: "\e006";
}
.basic-skin .ajs-mute-control.ajs-vol-0:before {
  content: "\e003";
}
.basic-skin .ajs-mute-control.ajs-vol-1:before {
  content: "\e004";
}
.basic-skin .ajs-mute-control.ajs-vol-2:before {
  content: "\e005";
}
.basic-skin .ajs-volume-control {
  /*width: 5em;
  float: right;*/
}
.basic-skin .ajs-volume-bar {
  position: relative; padding: 0; cursor: pointer !important;
  height: 10px; 
  margin: 5px;
  
background-color: #f5f5f5;
background-image: linear-gradient(transparent 25%, #555 50%,transparent 25%);
background-size: 10px 10px;
 -webkit-border-radius: 5px; border-radius: 5px;
}

.basic-skin .ajs-volume-level {
position: absolute;
display: block;
height: 10px;
width:100%;
margin: 0px;
padding: 0px;

  background: #777;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#777));
  background: -moz-linear-gradient(top,  #999,  #777);
 -webkit-border-radius: 5px; border-radius: 5px;
}
.basic-skin .ajs-volume-bar .ajs-volume-handle {
display:none;
  
}
.basic-skin .ajs-volume-handle:before {
  font-size: 0.9em;

  width: 1em;
  height: 1em;
  margin-left: -8px /* Minor adjustment */;
}
}
/* Download Links - Used for browsers that don't support any audio.
---------------------------------------------------------*/
.basic-skin .ajs-no-audio { font-size: small; line-height: 1.5; }


/* Spinner Styles
---------------------------------------------------------*/
/* CSS Spinners by Kilian Valkhof - http://kilianvalkhof.com/2010/css-xhtml/css3-loading-spinners-without-images/ */
.basic-skin .ajs-loading-spinner { display: none; position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; z-index: 1; margin: -50px 0 0 -50px;
}
.basic-skin-skin .ajs-loading-spinner:before {
  content: "\e01e";
  font-family: audioJS;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  text-shadow: 0em 0em 0.1em #000;
}
